* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Bitcount, sans-serif;
    background-color: rgba(0, 0, 0, 0.172);
}

h1 {
    margin: 20px auto 30px auto;
    color: rgb(218, 141, 48);
    font-size: 50px;
    font-weight: 450;
}

.container {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    border: solid black 3px;
    width: 600px;
    height: 600px;
    margin-bottom: 30px;
}

.row {
    display: flex;
}

.hovered {
    background-color: black;
}

.size-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.size-slider {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 400px;
    justify-content: space-evenly;
}

.size-input > h3 {
    font-weight: 350;
    font-size: 25px;
    color:rgba(0, 0, 0, 0.535);
}

.size-slider-input {
    width: 200px;
    accent-color: rgb(218, 141, 48);
    background-color: transparent;
}

.start-button {
    width: 200px;
    font-family: Bitcount, sans-serif;
    background-color: rgb(218, 141, 48);
    border-color:rgba(0, 0, 0, 0.235);
    font-size: 25px;
    padding: 10px;
}

.show-border {
    border: 1px solid black;
}