* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    text-align: center;
    font-family: Bitcount, sans-serif;
    background-color: rgba(0, 0, 0, 0.172);
    padding: 20px;
}

h1 {
    margin: 20px auto 30px auto;
    color: rgb(218, 141, 48);
    font-size: 50px;
    font-weight: 450;
}

.container {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    border: solid black 3px;
    width: 550px;
    height: 550px;
    margin-bottom: 30px;
}

.row {
    display: flex;
}

.size-slider {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.size-input > h3 {
    font-weight: 350;
    font-size: 25px;
    color:rgba(0, 0, 0, 0.535);
}

.size-slider-input {
    width: 150px;
    accent-color: rgb(218, 141, 48);
    background-color: transparent;
}

.menu-button {
    width: 200px;
    font-family: Bitcount, sans-serif;
    background-color: rgb(218, 141, 48);
    border-color:rgba(0, 0, 0, 0.235);
    font-size: 15px;
    padding: 10px;
}

.show-border {
    border: 1px solid rgba(0, 0, 0, 1);
}

.grid-button {
    border: 1px solid black;
    width: 42px;
    height: 42px;
    display: flex;
    flex-wrap: wrap;
}

.grid-sector {
    width: 20px;
    height: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: center;
}

.cell {
    overflow: hidden;
}
.color-picker-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background-color: black;
    border: 3px solid black;
}

.color-picker {
    width: 0;
    height: 0;
    border: none;
    background-color: inherit;
}
